/*--------------------*/
/* ナビゲーションバー
/*--------------------*/
.navbar-default {
  background: #ffa6a6;
}
.navbar-header .navbar-brand {
  margin: 10px;
  font-size: 38px;
  color: #fff;
}
.navbar .navbar-nav li {
  margin: 10px;
}
.navbar .navbar-nav li a,
.navbar .navbar-nav li a:hover {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* 通知アイコン */
.navbar .navbar-nav li:first-child a:link,
.navbar .navbar-nav li:first-child a:active,
.navbar .navbar-nav li:first-child a:visited {
  padding: 4px;
  font-size:14px;
  color: #764545;
}

/* 検索ボックス */
.navbar .navbar-nav li:last-child,
.navbar .navbar-nav li:nth-last-child(2) {
  margin: 10px 0;
}
.navbar .navbar-nav li .input-search {
  margin: 10px 0;
  border-radius: 4px 0 0 4px;
}
.navbar .navbar-nav li .btn.search {
  width: 60px;
  padding: 9px 0;
  margin: 10px 0;
  font-size: 15px;
  color: #fff;
  box-sizing: border-box;
  display: block;
  border-radius: 0 4px 4px 0;
}
.navbar .navbar-nav li .btn.search:hover {
  background: #31b0d5;
}
footer.section-primary {
  background-color: #ffa6a6 !important;
}
